<?xml version="1.0" ?>
<config>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="ABQueuePlaceAfterPlugin" type="AB\Queue\Plugin\Order\PlaceAfterPlugin" sortOrder="150" />
    </type>
    <preference for="AB\Queue\Api\ConsumerInterface" type="AB\Queue\Model\Consumer" />
    <preference for="AB\Queue\Api\MessageInterface" type="AB\Queue\Model\Message" />
</config>
